body {
    background: #0f0f23;
    color: #ccc;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    text-align: center;
    padding: 15px;
}

table, th, td {
    /*border: 1px solid #ddd;*/
    border-collapse: collapse;
}

td {
    padding: 15px;
}

th {
    padding: 7px;
}

button {
    display: block;
    margin: 20px auto;
    background-color: transparent;
    color: #ccc;
    font-family: 'Source Code Pro', monospace;
    border: 2px solid grey;
    padding: 15px;
}

.tableArea {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.puzzleTable {
    overflow: auto;
    flex-shrink: 4
}

.nameTable table {
    /*margin: auto*/
}

.nameTable p {
    margin: 1em auto;
    text-align: center
}

.rankNum {
    font-weight: bold;
    color: #fff;
}

.timestamp-day {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.rank1 {
    background-color: #ff6;
    color: #000;
}

.rank2 {
    background-color: #99c;
    color: #000;
}