body {
    background: #0f0f23;
    color: #ccc;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    text-align: center;
    padding: 15px;
}

table, th, td {
    /*border: 1px solid #ddd;*/
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

button {
    display: block;
    margin: 20px auto;
    background-color: transparent;
    color: #ccc;
    font-family: 'Source Code Pro', monospace;
    border: 2px solid grey;
    padding: 15px;
}

.tableArea {
    overflow: auto
}

.bigHead {
    padding: 7px;
}

.timestamp-day {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.rank1 {
    background-color: #ff6;
    color: #000;
}

.rank2 {
    background-color: #99c;
    color: #000;
}