/* this file does not contain any meaningful code, just styling */

body {
    background: #0f0f23;
    color: #ccc;
    font-family: 'Source Code Pro', monospace;
}

p {
    text-align: center
}

h1 {
    text-align: center;
    padding: 15px;
}

table, th, td {
    border-collapse: collapse;
}

td {
    padding: 15px;
}

th {
    padding: 7px;
}

input[type=file] {
    /* essentially hide the default input, code is from Osvaldas Valutis
    in this guide: https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label {
    display: block;
    margin: 20px auto;
    background-color: transparent;
    color: #ccc;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    border: 2px solid grey;
    padding: 15px;
    width: 200px;
}

.tableArea {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.puzzleTable {
    overflow: auto;
    flex-shrink: 4
}

.nameTable p {
    margin: 1em auto;
}

.rankNum {
    font-weight: bold;
    color: #fff;
}

.puzzleRank {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

.timestamp-day {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.rank1 {
    background-color: #ff6;
    color: #000;
}

.rank2 {
    background-color: #99c;
    color: #000;
}

.rank3 {
    background-color: #a64;
    color: #000;
}
